* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  background-color: rgb(25, 25, 54);
}

h1 {
  text-align: center;
  margin: 10px 0 0 20px;
  user-select: none;
}

.container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  margin: 200px auto;
  padding: 50px;
  border-radius: 20px;
}

.time {
  font-size: 5rem;
  color: black;
  margin-bottom: 10px;
  user-select: none;
}

.controls button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px 5px;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  transition: 0.8s;
  cursor: pointer;
}

#start {
  background-color: green;
}

#stop {
  background-color: red;
}

#reset {
  background-color: blue;
}

#lap {
  background-color: orange;
}

.controls button:hover {
  background-color: transparent;
  color: black;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  .container {
    max-width: 200px;
  }
  .time {
    font-size: 2rem;
  }
  .controls button {
    padding: 5px;
    margin: 0.5px;
  }
}
